*{
  box-sizing: border-box;
  font-family: sans-serif;

}


h3{
  text-align: center;
}

h4{
  text-align: center ;
  margin-top: 2%;

}
header{
  text-align: center;
  color: rgb(236, 240, 244);
  margin: 0%;
  padding: 0%;
  background-color: rgb(48, 119, 119);

  #title{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5px;
  }
  .titletext{
    display: block;
    margin: 0%;
  }
}

p{
  color:black;
  font-weight: 600;
  font-size: large;
}

ul{
  list-style-type:none;
  color: rgb(5, 5, 68);
}


ul li::before {                        /*  change bullet color https://www.w3schools.com/howto/howto_css_bullet_color.asp */
  content: "\2022";
  color: rgb(29, 107, 216);
  font-weight:bolder;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.navbar {                   /* inspiration from https://codepen.io/angeladelise/pen/QWbPZrb*/
  background-color: rgb(29, 107, 216);
  padding: 0%;
  content:none;
  color:rgb(248, 248, 248)
}

a:link {                    /* from w3 schools https://www.w3schools.com/css/css_link.asp*/
  text-decoration: none
}

ul li{
  padding-inline: 2em;  /* to space the text in the navbar */
}

li a:hover {
  background-color: rgb(55, 110, 110);
}


.navtext{
  display: flex;
  justify-content: center;
  margin:0;
  padding: 0;
  overflow: hidden;
  ul li::before {                        /*  change bullet color https://www.w3schools.com/howto/howto_css_bullet_color.asp */
    content: none;
    
  }  
}
.navtext a:link { color: #ea8a14; }       /* https://stackoverflow.com/questions/12021045/how-can-i-define-link-colours-for-a-div */
.navtext a:visited { color: #55dbf6; }
.navtext a:hover { color: #ea8a14; }
.navtext2 a:active { color: #ea8a14; }

hr{
  border: 5px solid rgb(79, 135, 191);
  border-radius: 5px;
}


body{
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 1%;
}

.container{               /* https://github.com/RamziBach/Learn-CSS-Grid---A-13-Minute-Deep-Dive/blob/main/index.html */
  display: grid;
  padding: 1ch;
  margin: 0%;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));  /*minmax(auto 1fr) repeat(4, 1fr) minmax(auto 1fr)*/
  grid-template-rows: auto;
}
.container a:link { color: #ea8a14; }       /* https://stackoverflow.com/questions/12021045/how-can-i-define-link-colours-for-a-div */
.container a:visited { color: #70DB93; }
.container a:hover { color: #ea8a14; }
.container a:active { color: #ea8a14; }

.sidebar{
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;

  font-size:larger;

  
  #profilepic{
    border-radius: 50%;    /* taken from https://github.com/Maclinz/cv-youtube-tutorial/blob/master/styles.css */
    
  }
  /* grid-area: 1/1/11/1 ; */
  background-color: rgb(8, 48, 97);
}

.work {
  /* grid-area: 2/2/11/3; */
  text-align: left;
  background-color: rgb(140, 170, 188);
}

.education {
  /* grid-area: 2/3/11/4; */
  text-align:left;
  background-color: rgb(140, 170, 188);
  font-size:larger ;
  #skilltext{ 
    text-align: center;
  }
}


.links {
  color: aliceblue;
  /* grid-area: 1/4/11/5; */
  font-size: larger;
  font-weight: bold;
  background-color: rgb(8, 48, 97);
  text-align: center;
}

.ExperienceTitle {
  /* grid-area: 1/2/1/3 ; */
  text-align: center;
  background-color: rgb(80, 114, 155);
}

.EducationTitle {
  /* grid-area: 1/3/1/4 ; */
  text-align: center;
  background-color: rgb(80, 114, 155);
}

#gridbreak{
  border: 1px solid rgb(241, 224, 224);
}

.container2{
  display: grid;
  padding: 1ch;
  margin: 0%;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));  /*minmax(auto 1fr) repeat(4, 1fr) minmax(auto 1fr)*/
  grid-template-rows: auto;
}

.pic3{
  place-items: center;
  background-color: rgb(80, 114, 155);


 } 

.pic4{
  place-items: center;
  background-color: rgb(80, 114, 155);

}
.pic5{
  place-items: center;
  background-color: rgb(80, 114, 155);

}


.container2 a:link { color: #ea8a14; }       /* https://stackoverflow.com/questions/12021045/how-can-i-define-link-colours-for-a-div */
.container2 a:visited { color: #70DB93; }
.container2 a:hover { color: #ea8a14; }
.container2 a:active { color: #ea8a14; }




footer{
  background-color: rgb(55, 110, 110);
  padding-top: 1.5ch;
  padding-bottom: 1ch;
  text-align: center;
  font-style: italic;
}
